In [1]:
# empty tuple creation
x= ()
x

()

In [2]:
x= tuple()
x

()

In [3]:
type(x)

tuple

In [4]:
tuple= ("gas","motor",123,678,98)
tuple[0]

'gas'

In [5]:
tuple[-1]

98

In [6]:
tuple[0]= "station"

TypeError: 'tuple' object does not support item assignment

In [7]:
# count
tuple= ("gas","motor",123,678,98,"gas")
tuple.count("gas")

2

In [8]:
#delete
tuple= ("gas","motor",123,678,98)
del tuple[1]

TypeError: 'tuple' object doesn't support item deletion

In [10]:
del tuple
tuple

NameError: name 'tuple' is not defined

In [11]:
#clear
tuple= ("gas","motor",123,678,98)
tuple.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [12]:
#tuple membership
tuple= ("gas","motor",123,678,98)
123 in tuple

True

In [13]:
"lalitha" in tuple

False

In [14]:
"lalitha" not in tuple

True

In [15]:
# tuple length
tuple= ("gas","motor",123,678,98)
x= len(tuple)
x

5

In [18]:
tuple= ("gas")
tuple

'gas'

In [19]:
type(tuple)

str

In [20]:
# to add a single item as a tuple add an , after it to make it as a tuple
x = ("gas",)
x

('gas',)

In [21]:
type(x)

tuple

In [23]:
# range of indexes:
tuple= ("gas","motor",123,678,98)
#access the elements from 2 and 5 
x= tuple[1:5]
x

('motor', 123, 678, 98)

In [27]:

x= tuple[-4:-3]
x

('motor',)

In [2]:
# tuples are unchangeable/ immutable.... so convert to list make changes and convert back
thistuple= ("gas","motor",123,678,98)
# add "lalitha"                                           correct but server showing error
x=list(thistuple)
x.append("lalitha")
thistuple= tuple(x)
thistuple

('gas', 'motor', 123, 678, 98, 'lalitha')

In [39]:
# add tuple to a tuple
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
thistuple

('apple', 'banana', 'cherry', 'orange')

In [1]:
thistuple = ("apple", "banana", "cherry")
x= list(thistuple)
x[1] = "mango"
thistuple= tuple(x)
print(thistuple)

('apple', 'mango', 'cherry')

In [5]:
fruits= ("apple", "banana", "cherry")              # unpacking
(red,blue,green) = fruits
print(red,blue,green)

apple banana cherry

In [6]:
print(red)

apple

In [7]:
fruits= ("apple", "banana", "cherry")              # as a list
(red,*green) = fruits
print(green)

['banana', 'cherry']

In [9]:
# loop through all items referring to index no
thistuple = ("apple", "banana", "cherry")
for x in range(len(thistuple)):
    print(thistuple[x])

apple
banana
cherry

In [10]:
# using while loop
thistuple = ("apple", "banana", "cherry")
i=0
while i< len(thistuple):
    print(thistuple[i])
    i+=1

apple
banana
cherry

In [11]:
# join 2 tuples
thistuple = ("apple", "banana", "cherry")
y = ("man",)
x= thistuple +y
x

('apple', 'banana', 'cherry', 'man')

In [14]:
# multiply
y = ("man",)
y*2
print(y)

('man',)

In [19]:
# difference b/w list and tuple....
'''
list have homogenous values (all values are similar)
    sort.... sort()   asc
              sort(reverse=True)..... desc
tuple have heterogenous values (all values are different)
    sort..... sorted(x)....asc
            sorted(x,reverse=True)... desc
'''

'\nlist have homogenous values (all values are similar)\n    sort.... sort()   asc\n              sort(reverse=True)..... desc\ntuple have heterogenous values (all values are different)\n    sort..... sorted(x)....asc\n            sorted(x,reverse=True)... desc\n'

In [16]:
tuple = (11,23,67,987)
x= sorted(tuple)
x

[11, 23, 67, 987]

In [20]:
x= sorted(tuple,reverse=True)
x

[987, 67, 23, 11]

In [21]:
#    set 
# empty set creation
set= {}
set

{}

In [1]:
x = set()
x

set()

In [2]:
type(x)

set

In [3]:
set= {11,22,33,33,33,22}     # no duplicates are allowed. dont throw error but duplicates are ignored
set

{11, 22, 33}

In [4]:
# true and 1 are considered as same
# false and 0 are same
thisset = {"apple", "banana", "cherry"}
x= len(thisset)
x

3

In [5]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

cherry
apple
banana

In [6]:
if "apple" in thisset:
    print("yes")

yes

In [7]:
#add elements
thisset = {"apple", "banana", "cherry"}
thisset.add("ball")
thisset

{'apple', 'ball', 'banana', 'cherry'}

In [8]:
thisset.add("ball","mango")
thisset

TypeError: set.add() takes exactly one argument (2 given)

In [9]:
# to add more than 1 items use update method
thisset = {"apple", "banana", "cherry"}
u= {"and", "men"}
thisset.update(u)
thisset

{'and', 'apple', 'banana', 'cherry', 'men'}

In [10]:
thisset = {"apple", "banana", "cherry"}
u= ["and", "men"]
thisset.update(u)
thisset

{'and', 'apple', 'banana', 'cherry', 'men'}

In [11]:
# remove
thisset = {"apple", "banana", "cherry"}
thisset.remove("apple")
thisset

{'banana', 'cherry'}

In [12]:
thisset.remove("ball")
thisset

KeyError: 'ball'

In [13]:
# to prevent error use discard 
thisset.discard("apple")
thisset

{'banana', 'cherry'}

In [14]:
thisset.pop()
thisset

{'banana'}

In [15]:
thisset.clear()
thisset

set()

In [17]:
del thisset
thisset

NameError: name 'thisset' is not defined

In [19]:
thisset = {"apple", "banana", "cherry"}
y= {"amy","many"}
x=thisset.union(y)
thisset
x

{'amy', 'apple', 'banana', 'cherry', 'many'}

In [20]:
x = thisset | y
x

{'amy', 'apple', 'banana', 'cherry', 'many'}

In [21]:
# get only duplicates:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z= x.intersection(y)       # or z= x & y
z

{'apple'}

In [22]:
# gets only the items in the set1 but not the set2 and eliminating the duplicates in set1
z = x.difference(y)                  # x - y
z

{'banana', 'cherry'}

In [23]:
# gets all the values in both sets without duplicates
z= x.symmetric_difference(y)             #  x^ y
z

{'banana', 'cherry', 'google', 'microsoft'}

In [28]:
#      dict
x = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
z= x["year"]
z

1964

In [29]:
a = x.keys()
a

dict_keys(['brand', 'model', 'year'])

In [30]:
a = x.values()
a

dict_values(['Ford', 'Mustang', 1964])

In [31]:
a= x.items()
a

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [32]:
a = x.get("model")
a

'Mustang'

In [34]:
x["color"] = "red"
x

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [35]:
x["year"]= 2025
x

{'brand': 'Ford', 'model': 'Mustang', 'year': 2025, 'color': 'red'}

In [36]:
x.update({"color":"blue"})
x

{'brand': 'Ford', 'model': 'Mustang', 'year': 2025, 'color': 'blue'}

In [37]:
# remove
# pop removes specified item
x.pop("model")
x

{'brand': 'Ford', 'year': 2025, 'color': 'blue'}

In [38]:
# popitem removes last inserted item
x.popitem()
x

{'brand': 'Ford', 'year': 2025}

In [40]:
# looping

z = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in z.keys():
     print(x)

brand
model
year

In [42]:
for x in z.values():
    print(x)

Ford
Mustang
1964

In [43]:
for x,y in z.items():
    print(x,y)

brand Ford
model Mustang
year 1964

In [44]:
# copy
x = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

z= x.copy()
z

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [45]:
z= dict(x)
z

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
# questions:
l= ["apple","banana","cherry","dog"]
x= ["monkey","money"]
a=l.extend(x)
a