In [1]:
num= 56
print("the value of car is:" , num)

the value of car is: 56

In [2]:
num= 56                                    # because we cannot add number and alphabet in a string.. so use comma
print("the value of car is:" + num)

TypeError: can only concatenate str (not "int") to str

In [4]:
# formatting output

x= 50
y=79
print("the value of x is{} and the value of y is{}" . format(x,y))

the value of x is50 and the value of y is79

In [5]:
# input formatting

value = input("enter any value:")
print(value)

enter any value: 100

100

In [6]:
value = input("enter any number:")
print(value)

enter any number: bella

bella

In [7]:
value = int(input("enter any number:"))
print(value)

enter any number: 500

500

In [8]:
value = int(input("enter any number:"))             # becoz it is converted to int, so type only int
print(value)

enter any number: conmigo

ValueError: invalid literal for int() with base 10: 'conmigo'

In [9]:
# if statement:

x = 500
if x:
    print("yes, we r inside if ststement")

yes, we r inside if ststement

In [10]:
x = false
if x:
    print("yes, we r inside if ststement")

NameError: name 'false' is not defined

In [11]:
x = 45
if x<30:
    print("yes, we r inside if ststement")
else:
    print("no ")

no

In [13]:
num= input("enter any number:")
if num == 50:
    print(yes)
else:
    print(no)

<>:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?

enter any number: 200

C:\Users\Lalitha\AppData\Local\Temp\ipykernel_10772\1573279807.py:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  if num is 50:

In [15]:
num= input("enter any number:")
if num == 50:
    print(yes)
else:
    print("not equal")

enter any number: 200

not equal

In [16]:
# if elif and else

num= int(input("enter any number:"))
if num >= 50:
    print("yeah")
elif num==0:
    print("wassup")
else:
    print(nope)

enter any number: 0

wassup

In [18]:

num= int(input("enter any number:"))
if num >= 50:
    print("yeah")
elif num==0:
    print("wassup")
else:
    print('nope')

enter any number: 43

nope

In [19]:
# ternary operations..... makes more readable, single line

num= int(input("enter any number:"))
print("pass") if num > 50 else ("fail")

enter any number: 67

pass

In [20]:
# for statements:
list = ["apple", "banana", "cherry"]
for x in list:
    print(x)

apple
banana
cherry

In [21]:
# range:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [22]:
for x in range(2,11):
    print(x)

2
3
4
5
6
7
8
9
10

In [23]:
for x in range(4,9,2):
    print(x)

4
6
8

In [ ]:
start= 1
end= 10
while x <10:
    print(x)
    start= start+1

In [1]:
for x in range(4,9,2):
    print(x)

4
6
8

In [2]:
for x in range(1,10):
    if x==6:
        break
    else:
        print("yes")

yes
yes
yes
yes
yes

In [3]:
for x in range(2,7):
    print(x)
    print("hello world")

2
hello world
3
hello world
4
hello world
5
hello world
6
hello world

In [4]:
for x in range(2,7):
    print(x)
print("hello world")

2
3
4
5
6
hello world