In [1]:
# scope... variable available inside the region it is created
# local scope... variable created inside the function.. can be used within that function
# global scope... variable created outside the function... can be used both inside and outside.
def myfunc():
    x = 29
    print(x)
myfunc()

29

In [8]:
# function inside a function... local variable can be accessed in a nested function
def myfunc():
    x= 67
    def myinnerfunc():
        print(x)
    myinnerfunc()
myfunc()

67

In [5]:
# global scope:
x = 45
def myfunc():
    print(x)
myfunc()
print(x)

45
45

In [9]:
x= 700
def myfunc():
    x= 400
    print(x)
myfunc()      # prints local variable
print(x)      # prints global variable

400
700

In [11]:
x= 689
def myfunc():
    global x
    x= 790

myfunc()
print(x)

790

In [12]:
def myfunc():
    global x
    x= 678
myfunc()
print(x)

678

In [14]:
# non local keyword .... used to work with nested functions..... makes the variable belong to outer function
def myfunc():
    x = "yes"
    def myinnerfunc():
        nonlocal x
        x = "yeah"
    myinnerfunc()
    return x
print(myfunc())

yeah

In [20]:
# PYTHON MODULE ... IS A CODE LIBRARY .... it is a file containing different functions to use in your application.
# creating a module.. write the code and save the file in .py extension
def greeting(name):
    print("hello, my name is "+ "lalli")           # save this code in a file as mymodule.py
import mymodule
mymodule.greeting("lalli")

ModuleNotFoundError: No module named 'mymodule'

In [21]:
def greeting(name):
    print("hello my name is "+" alana")
import mymodule
mymodule.greeting("alana")

ModuleNotFoundError: No module named 'mymodule'

In [ ]:
# when using a function in module use syntax .... module_name.function_name
"""
built in modules...
1. to get all the functions and methods of the variable use dir method
eg:  import mymodule
     x= dir(mymodule)
     print(x)
2. to import from module use from
eg:   from mymodule import person
      print(person["age"]

In [22]:
        # python DATE TIME
"""
PYTHON DATE: date in python is not a data type but can be also used to import a module named datatime to work as a date object
"""
#Import the datetime module and display the current date:
import datetime
x= datetime.datetime.now()
print(x)

2025-01-29 15:05:27.353131

In [24]:
#Return the year and name of weekday:
import datetime
x= datetime.datetime.now()
print(x)
print(x.year)
print(x.strftime("%A"))

2025-01-29 15:08:10.388953
2025
Wednesday

In [26]:
# create a date (date objects): using datetime class constructor() of the datetime module
#Create a date object:
import datetime
x= datetime.datetime(1996,9,3)
print(x)

1996-09-03 00:00:00

In [36]:
# strftime() method: the datetime object has a method to format the date objects into readable strings

# create a date and display the name of the weekday and name of the month
import datetime
x= datetime.datetime(1996,9,3)
print(x)
print(x.strftime("%A")) # name of weekday
print(x.strftime("%B"))  # name of month
print(x.strftime("%Y"))  # name of year

1996-09-03 00:00:00
Tuesday
September
1996

In [35]:
import datetime
x= datetime.datetime.now()
print(x)
print(x.strftime("%H"))   # hour
print(x.strftime("%M"))   # minutes
print(x.strftime("%S"))    # seconds
print(x.strftime("%m"))    # month as a number
print(x.strftime("%p"))     # AM/PM
print(x.strftime("%Z"))     # TIMEZONE
print(x.strftime("%C"))     # CENTURY

2025-01-29 15:27:09.729831
15
27
09
01
PM

20

In [37]:
  # PYTHON MATH....
 # BUILT IN MATH FUNCTIONS

x = [ 11,45,97,76]
print(max(x))
print(min(x))

97
11

In [39]:
x = -896.89    # absolute function gets the positive value
print(abs(x))

896.89

In [40]:
# pow(x,y)  get the value of 5 to the power of 8
x= pow(5,8)
print(x)

390625

In [41]:
# python has a math module.. built in module which has many mathematical functions . to use it first import math module
#get the squareroot of 89
import math
x= math.sqrt(89)
print(x)

9.433981132056603

In [42]:
# get the value of pi
import math
x= math.pi
print(x)

3.141592653589793

In [44]:
# python ceil and floor 
import math
x= math.ceil(5.7)    # rounds a number upwars to its nearest integer
print(x)
x= math.floor(8.7)   # rounds a no downwards to its nearest integer
print(x)

6
8

In [1]:
# PYTHON TRY, EXCEPT, ELSE, FINALLY
'''
try:      lets you to test a block of code for errors
except... lets you to handle those errors
else......lets you to execute code when there is no errors
finally... lets you to execute code, irrespective of the try and except blocks

when an error/ exception occurs, python handles those errors (exception handling using try block)
'''
try:                               # try is not executed because x is not defined
  print(x)
except:
    print("something happened")

something happened

In [2]:
try:
  print("hello")
except:
  print("something happened")
else:
  print("nothing happened")

hello
nothing happened

In [6]:
try:
  print("x")                         # the try blocks doesnt cause any errors, so the else is executed
except:
  print("something happened")
else:
  print("nothing happened")

x
nothing happened

In [9]:
try:
  print(x)
except NameError:                        ##The try block will generate a NameError, because x is not defined:
  print("something happened")
except:
  print("nothing happened")

something happened

In [10]:
try:
  print("x")
except:                                   # finally will execute irrespective of the try and except
  print("nothing happened")
finally:
    print("finished")

x
finished

In [11]:
try:
  print(x)
except:
  print("nothing happened")
finally:
    print("finished")

nothing happened
finished

In [12]:
#Raise an error and stop the program if x is lower than 0:
x = -1
if x< 0:
    raise Exception("no numbers below zero")

Exception: no numbers below zero

In [13]:
#Raise a TypeError if x is not an integer:
x = "lalitha"
if x is not int:
    raise Exception("not recommended")

Exception: not recommended

In [14]:
                # OR
x= "lalitha"
if not type(x) is int:
  raise Exception("not recommended")

Exception: not recommended

In [15]:
# PYTHON STRING FORMATTING:
# 3.6 versions has f-string before they used format() method
# create an f string:
x = f"the animal is in me"
print(x)

the animal is in me

In [ ]:
# placeholders and modifiers:
''' 
to format the values we use placeholders like {} . 
placeholders can contain different functions, modifiers, variables and operations to format the value

modifiers are placed in the placements with a default : and to describe the value with 2 decimals add .2f ( a fixed point number with 2 decimals)
other modifiers :, add comma to differenciate the thousand
'''

In [16]:
txt = "lalitha"
x = f"the beautiful girl in the world is {txt}"
print(x)

the beautiful girl in the world is lalitha

In [17]:
x= f"the price of donut is {57} dollars"
print(x)

the price of donut is 57 dollars

In [18]:
x= f"the price of donut is {57 * 54} dollars"
print(x)

the price of donut is 3078 dollars

In [20]:
price = 56
tax = 98
txt = f"the price of the house is {price+(price*tax)} "
print(txt)

the price of the house is 5544

In [21]:
x= f"the price of donut is {57:.2f} dollars"
print(x)

the price of donut is 57.00 dollars

In [24]:
price = 57000
x= f"the price of donut is {price:,} dollars"
print(x)

the price of donut is 57,000 dollars

In [26]:
#Return "Expensive" if the price is over 50, otherwise return "Cheap":
x= f'the item is {"expensive" if price> 50 else "cheap"}'
print(x)

the item is expensive

In [27]:
# execute functions in f strings

fruits = "apple"
x = f" I love the fruit {fruits.upper()}"
print(x)

 I love the fruit APPLE

In [29]:
quantity= 23
colour = "pink"
flower = "rose"
x = "I want {} pieces of {} colour {}"
print(x.format(quantity,colour,flower))

I want 23 pieces of pink colour rose

In [33]:
quantity= 23
colour = "pink"
flower = "rose"
price = 49
x = "I want {0} pieces of {1} colour {2} for {3:.2f} dollars"
print(x.format(quantity,colour,flower,price))

I want 23 pieces of pink colour rose for 49.00 dollars

In [36]:
x = "i have a {carname} it is a {brand}"
print(x.format(carname = "Volvo", brand = "Electric"))

i have a Volvo it is a Electric

In [3]:
x= input("enter any number:")
print("the number is:" + "Number")

enter any number: 78

the number is:Number

In [6]:
x= input("enter a name:")
print("the name is:"+ "username")

enter a name: lalli

the name is:username

In [7]:
mylist= ["a","c","c","a","n"]
# to delete duplicates in a list convert to a dict and convert back
mylist= list(dict.fromkeys(mylist))
print(mylist)

['a', 'c', 'n']

In [8]:
# reverse a string
str= "hello lovely"
x= str[::-1]
print(x)

ylevol olleh

In [9]:
# add 2 numbers
x= 6
y= 9
z= x+y
print(z)

15

In [12]:
# add 2 numbers using user input
x= input("enter a number:")
y= input("enter another number:")
z= int(x)+int(y)
print(z)
print("the total is:" + "number")

enter a number: 8
enter another number: 9

17
the total is:number

In [8]:
# write a palindrome function

def myfunction(sequence):
    return sequence == sequence[::-1]
#myfunction("radar")
print(myfunction("radar"))
print(myfunction([12312]))

#check a number by converting it into a string:
print(myfunction(str(12312)))
print(myfunction(str(12321)))

True
True
False
True

In [9]:
def mypalindrome(sequence):
    return sequence==sequence[::-1]
print(mypalindrome("radar"))

True